@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Tajawal:wght@400;800&display=swap');
:root {
  --main-color: #ce1717;
  --bdRadius: 10px;
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: var(--bdRadius);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: var(--bdRadius);
}
img {
  -o-object-fit: contain;
  object-fit: contain;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.MuiBreadcrumbs-separator {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
/* Pluse */
@-webkit-keyframes pulseanime {
  0% {
    box-shadow: 0 0 0 0 rgba(229, 71, 80, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(229, 71, 80, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(229, 71, 80, 0);
  }
}
@-moz-keyframes pulseanime {
  0% {
    box-shadow: 0 0 0 0 rgba(229, 71, 80, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(229, 71, 80, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(229, 71, 80, 0);
  }
}
@keyframes pulseanime {
  0% {
    box-shadow: 0 0 0 0 rgba(229, 71, 80, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(229, 71, 80, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(229, 71, 80, 0);
  }
}